@font-face {
  font-family: Poppins-Light;
  src: url("");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("");
}